* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #fdfdfd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container principale */
.widget-container {
  width: 340px;
  height: 500px;
  background-color: rgb(161, 161, 161);
  border-radius: 40px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  color: white;
  position: relative;
  overflow: hidden;
}

/* SWIPEEEEEE */
.swipe-wrapper {
  display: flex;
  height: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  cursor: pointer;
}

/* Nascondo la scrollbar (copiato da StackOverflow) */
.swipe-wrapper::-webkit-scrollbar {
  display: none;
}

.view {
  min-width: 100%;
  height: 100%;
  scroll-snap-align: start;
  padding: 35px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Testi e Info */
#cityName {
  font-size: 24px;
  margin-bottom: 15px;
}

.main-info {
  display: flex;
  align-items: center;
  margin: 25px 0;
}

#currentTemp {
  font-size: 80px;
  font-weight: bold;
}

.unit {
  font-size: 35px;
  position: relative;
  top: -20px;
}

#currentIcon {
  width: 110px;
}

#currentDesc {
  text-transform: capitalize;
  font-size: 18px;
  opacity: 0.8;
}

/* Liste ore e giorni */
.list-container {
  width: 100%;
  margin-top: 15px;
  background: rgba(255, 255, 255, 0.2); /* Invece della variabile card-bg */
  border-radius: 20px;
  padding: 10px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.item:last-child {
  border-bottom: none;
}

.item img {
  width: 30px;
}

/* Dots con SWIPEEEEE */
.dots-container {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.dot {
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin: 0 5px;
  transition: 0.3s;
}

.dot.active {
  background: white;
  width: 20px;
}
